<!DOCTYPE html>
<html>
<head>
  <link rel = 'stylesheet' = href='/style.css'>
  <title>Princess Peach</title>
</head>
<body>
  <h1>Princess Peach</h1>

  <p>My best friends are Yoshi and Toad.  We like to race karts and bikes together.  I hate it when I slip on a banana peel though.</p>

</body>
</html>